<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solar Geometry Calculator</title>
    <link rel="stylesheet" href="../static/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="../static/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="../static/styles/body.css" type="text/css" />
    <!--<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />-->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </head>
  <body>
    <header></header>

    <nav class="navbar">
      <div class="navContainer">
        <a
          class="welcomeMenu menu"
          href="https://solargeometry.igwegbu.tech"
          style="flex: 1 1 23%; width: 17%; text-align: center"
          >Welcome</a
        >
        <a
          class="calculateMenu menu"
          href="https://solargeometry.igwegbu.tech/calculator.html?"
          style="flex: 1 0 23%; width: 27%; text-align: center"
          >Calculator</a
        >
        <a
          class="menu"
          href="https://solargeometry.igwegbu.tech/docs.html?"
          style="flex: 1 2 23; width: 20%; text-align: center"
          >Docs</a
        >
        <a
          class="menu"
          href="https://solargeometry.igwegbu.tech/go-solar.html?"
          style="flex: 1 1 23%; width: 20%; text-align: center"
          >Go Solar</a
        >
      </div>
    </nav>
    <div
      class="aboutSGF"
      style="
        text-align: justify;
        text-justify: inter-word;

        background-color: beige;

        font-size: 20px;
        height: auto;
        padding: 20px 5px;
        /*border-top: 1px solid #cccccc;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        text-align: justify;
        text-justify: inter-word;
      "
    >
      <h3>About Solar Geometry Factor</h3>
      <p>
        Solar Geometry Factor (SGF) reflects the proportion of the solar
        irradiance (solar energy per unit surface area) available at a given
        location, date and time on Earth, that would be incident on a solar
        panel. This factor is determined by the orientation of the panel
        relative to direct sunlight. The SGF is equal to the dot product of the
        unit vector pointing towards the sun and the unit normal vector of the
        surface of the solar panel.
      </p>
      <p>
        A panel directly facing the sun has a SGF of 1. For a horizontal panel
        on Earth, due to the rotational and orbital motions of the Earth, the
        SGF is affected by the latitude and longitude at the location, the date
        and the time. A panel mounted on a sloping roof can have a lower or
        higher SGF, compared to a horizontal panel at the same location, date
        and time, depending on whether that slope results in the panel tilting
        away from or towards the sun, respectively. For a horizontal panel at
        any given location, date and time, the SGF will increase from zero at
        sunrise, peaking at the location's solar noon on that date, and
        decreasing again to zero at sunset.
      </p>
      <p>
        Besides the SGF, there are several other factors that affect the amount
        of solar energy that can be generated by a solar panel, in addition to
        the panel's own efficiency. These include the atmospheric air mass,
        cloud cover, temperature and diffuse sunlight, e.g., at dawn and dusk;
        these need to be considered separately when designing a solar array for
        any application in practice. Nevertheless, the SGF gives a good
        indication of the geometric factors that will influence the design
        decisions.
      </p>
      <p>
        <a
          href="https://en.wikipedia.org/wiki/Position_of_the_Sun"
          target="_blank"
          >Learn more</a
        >
        about the position of the Sun in the sky as seen from the Earth (leaves
        this site).
      </p>
    </div>

    <!--About SGC package-->
    <div
      class="aboutSGC"
      style="
        background-color: beige;

        font-size: 20px;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: relative;

        padding: 10px 0 120px;
      "
    >
      <h3>About Solar Geometry Calculator</h3>
      <p
        style="text-align: justify; text-justify: inter-word; padding: 5px 5px"
      >
        <em>Solar Geometry Calculator</em> was inspired by the experience of the
        developer in trying to help many people retrofit solar panels on their
        roof. The tool is handy for quickly assessing the impact of roof
        orientation, location, date and time on solar panel efficiency,
        especially at the project conceptual stage. The term Solar Geometry
        Factor" was also first coined by the developer, drawing from his years
        of experience in science and engineering practice. The tool has been
        developed in partial fulfilment of the requirements for a Software
        Engineering programme offered by
        <a href="https://www.alxafrica.com/software-engineering/">ALX-Africa</a
        >. The tool uses industry-standard libraries and APIs to ensure accurate
        results, notably the Google Geocoding and Time Zone APIs and models of
        the Earth and Sun published by the US National Oceanic & Atmospheric
        Administration. <br />
        The developer also offers high-end solar energy installation services
        for corporate clients and large organisations.
      </p>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        "
      >
        <a href="https://www.twitter.com/kpakpando1">
          <img
            src="../static/images/twitter-logo.png"
            alt="Twitter Logo"
            style="width: 2em; margin: 1em"
        /></a>
        <a href="https://www.github.com/ecigwegbu"
          ><img
            src="../static/images/github-logo.png"
            alt="GitHub Logo"
            style="width: 2em; margin: 1em"
        /></a>
        <a href="https://ng.linkedin.com/in/elias-igwegbu-b9b806b2"
          ><img
            src="../static/images/linkedin-logo.png"
            alt="LinkedIn Logo"
            style="width: 2em; margin: 1em"
        /></a>
      </div>
    </div>

    <!--Footer package-->
    <div
      style="
        color: black;

        height: 100px;
        width: 100%;

        border-top: 1px solid #cccccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: beige;
      "
    >
      <small>&copy; 2023. MannedModule Inc. All Rights Reserved.</small>
      <small
        ><a href="#" title="The Small Prints">Terms and Conditions</a></small
      >
      <small
        >#Do.Hard.Things&reg;&trade;@ALX-Cohort-9.
        <a
          href="mailto:admin@igwegbu.tech"
          title="Get in touch with an agent now."
          >Contact Us</a
        ></small
      >
    </div>
  </body>
</html>
