html {
  height: 100%;
}

body {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  background: rgb(171, 219, 243) url(../images/solar-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-size: 1230px 1324px;*/
  background-size: cover;
  width: auto;

  justify-content: flex-start;
}
.main {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  align-items: stretch;
  justify-items: center;
  /*border: 1px red solid;*/
  text-shadow: 0.05em 0.05em grey;
}

.main input {
  font-size: 20px;
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.main label {
  font-size: 18px;
  /*font-weight: lighter; */
}

.calculated input,
#timeZone {
  background-color: darkgrey;
}

.login:hover,
.calculate:hover {
  opacity: 70%;
}

.calculate,
.login {
  font-size: 24px;
  background-color: rgb(52, 114, 172);
  color: white;
  height: 48px;
  width: 22%;
  border: none;
  border-radius: 4px;
  margin: 0px 20px;
  padding: 0px 20px;
}

.login {
  color: rgba(49, 49, 49, 0.555);
}
